* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    background-color: #eef9bf;   
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 56px;
    color: #75b79e;
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 47px;
}

.game {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    width: 117px;
    height: 146px;   
    margin: 0 34px 34px 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card__face {
    width: 100%;
    height: 100%;
    background-color: #a7e9af;    
    border: 1px solid #99cea8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}

.card__face--back {
    transform: rotateY(180deg);
}

.card:hover .card__face--back {
    transform: rotateY(0deg);
}

.card:hover .card__face--front {
    transform: rotateY(-180deg);
}

.card img {
    width: 100px;
    height: 100px;
}

@media screen and (max-width: 335px) {
    h1 {
        font-size: 36px;
    }
}
